/* xiao_tp_test.overlay */
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h>
#include <dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        
        /* D2 pin for left click test */
        input-gpios
            = <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
    
    ps2_mouse {
        compatible = "zmk,input-mouse-ps2-uart";
        status = "okay";
        uart = <&uart0>;

        /* Sensitivity settings */
        tp-sensitivity = <240>;
        tp-neg-inertia = <10>;
    };
};

/* UART Pin configuration */
&pinctrl {
    uart0_default: uart0_default {
        group1 {
            /* * RX (Data)  -> P0.02 (D0)
             * TX (Clock) -> P0.03 (D1) 
             */
            psels = <NRF_PSEL(UART_TX, 0, 3)>,
                    <NRF_PSEL(UART_RX, 0, 2)>;
        };
    };

    uart0_sleep: uart0_sleep {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 3)>,
                    <NRF_PSEL(UART_RX, 0, 2)>;
            low-power-enable;
        };
    };
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default>;
    pinctrl-1 = <&uart0_sleep>;
    pinctrl-names = "default", "sleep";
};